# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:1234@localhost:5432/PPDB"
SECRET_KEY=RAHASIA
CLOUDINARY_CLOUD_NAME=dyvgymepl
CLOUDINARY_API_KEY=694124277464974
CLOUDINARY_API_SECRET=zI69YVOmtx2z_7T7k7-tHNGmbBY
